<div class="container">
    <h2 id="jhi-delete-subscriber-heading" >Eclusion de numéros
    </h2>
    <br>
    <div>
        <ngb-tabset class="">
            <div class="row">
                <div class="col-1"></div>
                <ngb-tab title="Exclusion d'un numéro" class="col-4">
                    <ng-template ngbTabContent>
                        <div class="col-9">
                            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

                                <jhi-alert-error></jhi-alert-error>
                                <div class="form-group" [hidden]="!editForm.get('id').value">
                                    <label for="id" jhiTranslate="global.field.id">ID</label>
                                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                                        readonly />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label"
                                        jhiTranslate="recyclingApp.delete_subscriber.msisdn"
                                        for="field_msisdn">Msisdn</label>
                                        <div class="input-group" >
                                            <span class="input-group-text" id="inputGroupPrepend">221</span>
                                            <input required maxlength="9" type="text" class="form-control" name="msisdn" id="field_msisdn"
                                            formControlName="msisdn" />
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="recyclingApp.delete_subscriber.comments"
                                        for="field_comments">Comments</label>
                                    <input  type="text" class="form-control" name="comments" id="field_imsi"
                                        formControlName="comments" />
                                </div>

                                <div>
                                    <button type="button" id="cancel-save" class="btn btn-secondary"
                                        (click)="previousState()">
                                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                                            jhiTranslate="entity.action.cancel">Cancel</span>
                                    </button>
                                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                                        class="btn btn-danger">
                                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                                            jhiTranslate="entity.action.save">Save</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Exclusion de plusieurs numéros" class="col-4">
                    <ng-template ngbTabContent>
                        <div *ngIf="alert" class="alert alert-danger" role="alert">
                            {{ alert }}
                        </div>
                        <form #form (ngSubmit)="uploadFile()">
                            <h2>
                                <input class="form-control" style="size: 10px;" disabled
                                    placeholder="Format du fichier CSV dans cet ordre: msisdn, comments (sans les entêtes)" />
                            </h2>
                            <div class="form-group">
                                <input (change)="onFileChange($event)" class="btn" name="file" type="file" />
                                <div [hidden]="isNotValidFormat">
                                    <i class="text-danger">Format du fichier invalid. Veuillez choisir un fichier
                                        csv</i>
                                </div>
                            </div>
                            <div>
                                <!-- <button (click)="previousState()" class="btn btn-secondary" type="button">
                                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                                      </button> -->
                                <button [disabled]="disable" class="btn btn-success" type="submit">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Charger</span>
                                </button>
                                <fa-icon [hidden]="!loading" [icon]="'sync'"></fa-icon>
                            </div>
                        </form>

                    </ng-template>
                </ngb-tab>
                <div class="col-2"></div>
            </div>
        </ngb-tabset>
    </div>
