<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exclude_number">
            <h2><span jhiTranslate="recyclingApp.exclude_number.detail.title">Exclude Number</span> {{exclude_number.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recyclingApp.exclude_number.msisdn">Msisdn</span></dt>
                <dd>
                    <span>{{exclude_number.msisdn}}</span>
                </dd>
                <dt><span jhiTranslate="recyclingApp.exclude_number.comments">Comments</span></dt>
                <dd>
                    <span>{{exclude_number.comments}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/exclude-number', exclude_number.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
