<div>
    <h2 id="page-heading">
        <span>Numéros exclus</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-exclude-number" [routerLink]="['/exclude-number/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
           Exclure un(des) numéro(s)
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="exclude_numbers?.length === 0">
        <span jhiTranslate="recyclingApp.exclude_number.home.notFound">No exclude_numbers found</span>
    </div>
    <div class="table-responsive" *ngIf="exclude_numbers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="msisdn"><span jhiTranslate="recyclingApp.exclude_number.msisdn">Msisdn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comments"><span jhiTranslate="recyclingApp.exclude_number.comments">Comments</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exclude_number of exclude_numbers ;trackBy: trackId">
                <td><a [routerLink]="['/exclude-number', exclude_number.id, 'view' ]">{{exclude_number.id}}</a></td>
                <td>{{exclude_number.msisdn}}</td>
                <td>{{exclude_number.comments}}</td>
                <td class="text-right">
                    <div class="btn-group">

                        <button type="submit"
                                [routerLink]="['/exclude-number', exclude_number.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'exclude-number', { outlets: { popup: exclude_number.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="exclude_numbers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
