<div>
    <h2 id="page-heading">
        <span >Logs recycling</span>
    </h2>
    <hr>
    <div class="row">
        <div class="col-2">
            <input type="text" [(ngModel)]="msisdn" class="form-control"  placeholder="Msisdn">
        </div>

        <div class="col-2">
            <input type="text" [(ngModel)]="imsi" class="form-control"  placeholder="Imsi">
        </div>

        <div  class="col-2">
            <input type="text" [(ngModel)]="platform" class="form-control"  placeholder="platform">

        </div>

        <div class="col-1" style="margin-top: -20px;">
            <small>status</small>
            <select class="form-control" [(ngModel)]="status" name="status" id="field_grantingStatus">
                <option selected>-- status --</option>
                <option style="color: green;" value="OK">OK</option>
                <option style="color: red;" value="KO">KO</option>
            </select>
        </div>
        <div class="col-2">
            <input type="text"  placeholder="De:   jj/mm/aaaa"
            onfocus="(this.type='datetime-local')" [(ngModel)]="debut"
            onblur="(this.type='text')" class="form-control">
        </div>
        <div class="col-2">
            <input type="text"  placeholder="A:   jj/mm/aaaa"
            onfocus="(this.type='datetime-local')" [(ngModel)]="fin"
            onblur="(this.type='text')" class="form-control" >
        </div>
        <div class="col-1">
            <button id="jh-search-entity" class="btn btn-primary" type="submit" (click)="loadPageSearch()">
                <fa-icon icon="search"></fa-icon>
            </button>
            <button id="jh-search-entity" class="btn btn-danger" type="submit" (click)="reset()">
                rs
            </button>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br />
    <div class="alert alert-warning" *ngIf="delete_subscriber_logs?.length === 0">
        <span jhiTranslate="recyclingApp.delete_subscriber_logs.home.notFound">No delete_subscriber_logs found</span>
    </div>
    <div class="table-responsive" *ngIf="delete_subscriber_logs?.length > 0">
        <table class="table table-striped">
            <div class="row" [hidden]="hidespinner" style="z-index: 999; position: absolute; margin-top: 200px; margin-left: 800px;">
                <img src="./espace.gif" width="100px" alt="img" />
            </div>
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="msisdn"><span jhiTranslate="recyclingApp.delete_subscriber_logs.msisdn">Msisdn</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="imsi"><span jhiTranslate="recyclingApp.delete_subscriber_logs.imsi">Imsi</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="platform"><span
                            jhiTranslate="recyclingApp.delete_subscriber_logs.platform">Platform</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="deleted_date"><span
                            jhiTranslate="recyclingApp.delete_subscriber_logs.deleted_date">Deleted Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th><span >Deleted By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="deleted_status"><span
                            jhiTranslate="recyclingApp.delete_subscriber_logs.deleted_status">Deleted Status</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th hidden="true" jhiSortBy="platform_response"><span
                            jhiTranslate="recyclingApp.delete_subscriber_logs.platform_response">Platform
                            Response</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th hidden="true" jhiSortBy="session_id"><span
                            jhiTranslate="recyclingApp.delete_subscriber_logs.session_id">Session Id</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let delete_subscriber_logs of delete_subscriber_logs ;trackBy: trackId">
                    <td>
                        <a
                            [routerLink]="['/delete-subscriber-logs', delete_subscriber_logs.id, 'view' ]">{{delete_subscriber_logs.id}}</a>
                    </td>
                    <td>{{delete_subscriber_logs.msisdn}}</td>
                    <td>{{delete_subscriber_logs.imsi}}</td>
                    <td>{{delete_subscriber_logs.platform}}</td>
                    <td>{{delete_subscriber_logs.deleted_date | date:'medium'}}</td>
                    <td>{{delete_subscriber_logs.deleted_by}}</td>
                    <td style="font-size: 13px; margin-top: 5px;" >

                        <button [disabled]="!hidespinner"
                                class=' {{delete_subscriber_logs.deleted_status === "OK"? "btn-success":"btn-danger"}} btn btn-sm'>
                                <span class="d-none d-md-inline" >{{delete_subscriber_logs.deleted_status}}</span>
                            </button>
                    </td>
                    <td hidden="true">{{delete_subscriber_logs.platform_response}}</td>
                    <td hidden="true">{{delete_subscriber_logs.session_id}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button [disabled]="!hidespinner" type="submit"
                                [routerLink]="['/delete-subscriber-logs', delete_subscriber_logs.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button  hidden="true" type="submit"
                                [routerLink]="['/delete-subscriber-logs', delete_subscriber_logs.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button  hidden="true" type="submit"
                                [routerLink]="['/', 'delete-subscriber-logs', { outlets: { popup: delete_subscriber_logs.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="delete_subscriber_logs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
