<div class="row justify-content-center" hidden="true">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-delete-subscriber-logs-heading" jhiTranslate="recyclingApp.delete_subscriber_logs.home.createOrEditLabel">Create or edit a Delete Subscriber Logs</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.delete_subscriber_logs.msisdn" for="field_msisdn">Msisdn</label>
                    <input type="text" class="form-control" name="msisdn" id="field_msisdn"
                           formControlName="msisdn"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.delete_subscriber_logs.imsi" for="field_imsi">Imsi</label>
                    <input type="text" class="form-control" name="imsi" id="field_imsi"
                           formControlName="imsi"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.delete_subscriber_logs.platform" for="field_platform">Platform</label>
                    <input type="text" class="form-control" name="platform" id="field_platform"
                           formControlName="platform"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.delete_subscriber_logs.deleted_date" for="field_deleted_date">Deleted Date</label>
                    <div class="d-flex">
                        <input id="field_deleted_date" type="datetime-local" class="form-control" name="deleted_date" formControlName="deleted_date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.delete_subscriber_logs.deleted_status" for="field_deleted_status">Deleted Status</label>
                    <input type="text" class="form-control" name="deleted_status" id="field_deleted_status"
                           formControlName="deleted_status"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.delete_subscriber_logs.request_sent" for="field_request_sent">Request Sent</label>
                    <input type="text" class="form-control" name="request_sent" id="field_request_sent"
                           formControlName="request_sent"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.delete_subscriber_logs.platform_response" for="field_platform_response">Platform Response</label>
                    <input type="text" class="form-control" name="platform_response" id="field_platform_response"
                           formControlName="platform_response"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.delete_subscriber_logs.session_id" for="field_session_id">Session Id</label>
                    <input type="text" class="form-control" name="session_id" id="field_session_id"
                           formControlName="session_id"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
