<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="delete_subscriber_logs">
            <h2><span jhiTranslate="recyclingApp.delete_subscriber_logs.detail.title">Delete Subscriber Logs</span> {{delete_subscriber_logs.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row jh-entity-details">
                <div class="col-3">

                    <dt><span jhiTranslate="recyclingApp.delete_subscriber_logs.msisdn">Msisdn</span></dt>
                    <dd>
                        <span>{{delete_subscriber_logs.msisdn}}</span>
                    </dd>
                </div>
                <div class="col-3">

                    <dt><span jhiTranslate="recyclingApp.delete_subscriber_logs.imsi">Imsi</span></dt>
                    <dd>
                        <span>{{delete_subscriber_logs.imsi}}</span>
                    </dd>
                </div>
                <div class="col-3">

                    <dt><span jhiTranslate="recyclingApp.delete_subscriber_logs.platform">Platform</span></dt>
                    <dd>
                        <span>{{delete_subscriber_logs.platform}}</span>
                    </dd>
                </div>
                <div class="col-3">

                    <dt><span jhiTranslate="recyclingApp.delete_subscriber_logs.deleted_date">Deleted Date</span></dt>
                    <dd>
                        <span>{{delete_subscriber_logs.deleted_date}}</span>
                    </dd>
                </div>
                <div class="col-3">

                    <dt><span jhiTranslate="recyclingApp.delete_subscriber_logs.deleted_status">Deleted Status</span></dt>
                    <dd>
                        <span>{{delete_subscriber_logs.deleted_status}}</span>
                    </dd>
                </div>

                <div class="col-3">

                    <dt><span jhiTranslate="recyclingApp.delete_subscriber_logs.session_id">Session Id</span></dt>
                    <dd>
                        <span>{{delete_subscriber_logs.session_id}}</span>
                    </dd>
                </div>
                <div class="col-3">

                    <dt><span>Deleted By</span></dt>
                    <dd>
                        <span>{{delete_subscriber_logs.deleted_by}}</span>
                    </dd>
                </div>

            </dl>

            <button hidden="true" type="button"
                    [routerLink]="['/delete-subscriber-logs', delete_subscriber_logs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
<div class="text-right">
<button type="submit"
        (click)="previousState()"
        class="btn btn-info text-right">
    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
</button>
</div>
<div class="row">
    <div class="col-6">
        <dt><span jhiTranslate="recyclingApp.delete_subscriber_logs.platform_response">Platform Response</span></dt>
        <dd  style="border-radius: 5px; border: 1px solid grey; background-color: beige; padding: 9px;">
            <pre>{{formatedXml}}</pre>
        </dd>
    </div>
    <div class="col-6">
        <dt><span>Request Sent</span></dt>
        <dd  style="border-radius: 5px; border: 1px solid grey; background-color: beige; padding: 9px;">
            <pre>{{requestSent}}</pre>
        </dd>
    </div>
</div>
