<div class="row justify-content-center" hidden="true">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-deleted-subscriber-heading" jhiTranslate="recyclingApp.deleted_subscriber.home.createOrEditLabel">Create or edit a Deleted Subscriber</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.deleted_subscriber.msisdn" for="field_msisdn">Msisdn</label>
                    <input type="text" class="form-control" name="msisdn" id="field_msisdn"
                           formControlName="msisdn"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.deleted_subscriber.imsi" for="field_imsi">Imsi</label>
                    <input type="text" class="form-control" name="imsi" id="field_imsi"
                           formControlName="imsi"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.deleted_subscriber.platform" for="field_platform">Platform</label>
                    <input type="text" class="form-control" name="platform" id="field_platform"
                           formControlName="platform"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.deleted_subscriber.processing_status" for="field_processing_status">Processing Status</label>
                    <input type="text" class="form-control" name="processing_status" id="field_processing_status"
                           formControlName="processing_status"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recyclingApp.deleted_subscriber.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
