<div>
  <h2 id="page-heading">
    <span>Numéros recyclés</span>
  </h2>
  <hr />
  <div class="row">
    <div class="col-2">
      <input type="text" [(ngModel)]="msisdn" class="form-control" placeholder="Msisdn" />
    </div>

    <div class="col-2">
      <input type="text" [(ngModel)]="imsi" class="form-control" placeholder="Imsi" />
    </div>

    <div class="col-2">
      <input type="text" [(ngModel)]="platform" class="form-control" placeholder="platform" />
    </div>

    <div class="col-1" style="margin-top: -20px;">
      <small>status</small>
      <select class="form-control" [(ngModel)]="status" name="status" id="field_grantingStatus">
        <option selected>-- status --</option>
        <option style="color: green;" value="OK">OK</option>
        <option style="color: red;" value="KO">KO</option>
      </select>
    </div>
    <div class="col-2">
      <input
        type="text"
        placeholder="De:   jj/mm/aaaa"
        onfocus="(this.type='datetime-local')"
        [(ngModel)]="debut"
        onblur="(this.type='text')"
        class="form-control"
      />
    </div>
    <div class="col-2">
      <input
        type="text"
        placeholder="A:   jj/mm/aaaa"
        onfocus="(this.type='datetime-local')"
        [(ngModel)]="fin"
        onblur="(this.type='text')"
        class="form-control"
      />
    </div>
    <div class="col-1">
      <button [disabled]="!hidespinner" id="jh-search-entity" class="btn btn-primary" type="submit" (click)="loadPageSearch()">
        <fa-icon icon="search"></fa-icon>
      </button>
      <button id="jh-search-entity" class="btn btn-danger" type="submit" (click)="reset()">
        reset
      </button>
    </div>
  </div>
  <jhi-alert></jhi-alert>
  <br />

    <div>
        <div class="alert alert-warning" *ngIf="deleted_subscribers?.length === 0">
            <span jhiTranslate="recyclingApp.deleted_subscriber.home.notFound">No deleted_subscribers found</span>
        </div>
        <div class="table-responsive" *ngIf="deleted_subscribers?.length > 0">

            <table class="table table-striped" >
                <div class="row" [hidden]="hidespinner" style="z-index: 999; position: absolute; margin-top: 200px; margin-left: 800px;">
                      <img src="./espace.gif" width="100px" alt="img" />
                  </div>
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>
                        <th>
                            <span jhiTranslate="recyclingApp.deleted_subscriber.msisdn">Msisdn</span>
                        </th>
                        <th>
                            <span jhiTranslate="recyclingApp.deleted_subscriber.imsi">Imsi</span>
                        </th>
                        <th>
                            <span jhiTranslate="recyclingApp.deleted_subscriber.platform">Platform</span>
                        </th>
                        <th>
                            <span jhiTranslate="recyclingApp.deleted_subscriber.processing_status">Processing Status</span>

                        </th>
                        <th>
                            <span>Created date</span>

                        </th>
                        <th>
                            <span>Created By</span>

                        </th>
                        <th>
                            <span>Transaction ID</span>

                        </th>
                        <th class="col-2">
                            <span jhiTranslate="recyclingApp.deleted_subscriber.comments">Comments</span>
                        </th>
                        <th scope="col">
                            <i class="fa fa-download" aria-hidden="true" >Report</i>
                            <button class="btn btn-success" height="12px" (click)="generateReport()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-spreadsheet-fill" viewBox="0 0 16 16">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v4h12V2a2 2 0 0 0-2-2zm2 7h-4v2h4V7zm0 3h-4v2h4v-2zm0 3h-4v3h2a2 2 0 0 0 2-2v-1zm-5 3v-3H6v3h3zm-4 0v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2zm4 0V7h3v2H6zm0 1h3v2H6v-2z"/>
                                </svg>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let deleted_subscriber of deleted_subscribers; trackBy: trackId">
            <td>
                <a>{{ deleted_subscriber.id }}</a>
            </td>
            <td>{{ deleted_subscriber.msisdn }}</td>
            <td>{{ deleted_subscriber.imsi }}</td>
            <td>{{ deleted_subscriber.platform }}</td>
            <td>
                <button [disabled]="!hidespinner" class=" {{ deleted_subscriber.processing_status === 'OK' ? 'btn-success' : 'btn-danger' }} btn btn-sm">
                    <span class="d-none d-md-inline">{{ deleted_subscriber.processing_status }}</span>
                </button>
            </td>
            <td>{{ deleted_subscriber.createdDate | date:'medium' }}</td>
                        <td>{{ deleted_subscriber.createdBy }}</td>
                        <td>{{ deleted_subscriber.trxID }}</td>
                        <td>{{ deleted_subscriber.comments }}</td>
                        <td class="text-right">
                <div class="btn-group">
                    <button hidden="true" [disabled]="!hidespinner" type="submit" [routerLink]="['/deleted-subscriber', deleted_subscriber.id, 'view']" class="btn btn-info btn-sm">
                        <fa-icon [icon]="'eye'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
<div [hidden]="deleted_subscribers?.length === 0">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage(page)"
        ></ngb-pagination>
    </div>
</div>
</div>
