<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deleted_subscriber">
            <h2><span jhiTranslate="recyclingApp.deleted_subscriber.detail.title">Deleted Subscriber</span> {{deleted_subscriber.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recyclingApp.deleted_subscriber.msisdn">Msisdn</span></dt>
                <dd>
                    <span>{{deleted_subscriber.msisdn}}</span>
                </dd>
                <dt><span jhiTranslate="recyclingApp.deleted_subscriber.imsi">Imsi</span></dt>
                <dd>
                    <span>{{deleted_subscriber.imsi}}</span>
                </dd>
                <dt><span jhiTranslate="recyclingApp.deleted_subscriber.platform">Platform</span></dt>
                <dd>
                    <span>{{deleted_subscriber.platform}}</span>
                </dd>
                <dt><span jhiTranslate="recyclingApp.deleted_subscriber.processing_status">Processing Status</span></dt>
                <dd>
                    <span>{{deleted_subscriber.processing_status}}</span>
                </dd>
                <dt><span jhiTranslate="recyclingApp.deleted_subscriber.comments">Comments</span></dt>
                <dd>
                    <span>{{deleted_subscriber.comments}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>


        </div>
    </div>
</div>
