<div>
    <h2 id="page-heading">
        <span>Numéros à recycler</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-delete-subscriber"
            [routerLink]="['/delete-subscriber/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
                Recycler un(des) numéro(s)
            </span>
        </button>
        <hr>

    </h2>
</div>


<jhi-alert></jhi-alert>
<br />
<div class="alert alert-warning" *ngIf="delete_subscribers?.length === 0">
    <span jhiTranslate="recyclingApp.delete_subscriber.home.notFound">No delete_subscribers found</span>
</div>
<div class="table-responsive" *ngIf="delete_subscribers?.length > 0">
    <table class="table table-striped">
        <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="msisdn"><span jhiTranslate="recyclingApp.delete_subscriber.msisdn">Msisdn</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="imsi"><span jhiTranslate="recyclingApp.delete_subscriber.imsi">Imsi</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="platform"><span jhiTranslate="recyclingApp.delete_subscriber.platform">Platform</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="comments"><span>Created Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="comments"><span>Transaction ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="comments"><span jhiTranslate="recyclingApp.delete_subscriber.comments">Comments</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let delete_subscriber of delete_subscribers ;trackBy: trackId">
                <td><a [routerLink]="['/delete-subscriber', delete_subscriber.id, 'view' ]">{{delete_subscriber.id}}</a>
                </td>
                <td>{{delete_subscriber.msisdn}}</td>
                <td>{{delete_subscriber.imsi}}</td>
                <td>{{delete_subscriber.platform}}</td>
                <td>{{delete_subscriber.createdDate}}</td>
                <td>{{delete_subscriber.trxID}}</td>
                <td>{{delete_subscriber.comments}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit" [routerLink]="['/delete-subscriber', delete_subscriber.id, 'view' ]"
                            class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/delete-subscriber', delete_subscriber.id, 'edit']"
                            class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                            [routerLink]="['/', 'delete-subscriber', { outlets: { popup: delete_subscriber.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div [hidden]="delete_subscribers?.length === 0">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
        </jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>
