<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="delete_subscriber">
            <h2><span jhiTranslate="recyclingApp.delete_subscriber.detail.title">Delete Subscriber</span> {{delete_subscriber.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recyclingApp.delete_subscriber.msisdn">Msisdn</span></dt>
                <dd>
                    <span>{{delete_subscriber.msisdn}}</span>
                </dd>
                <dt><span jhiTranslate="recyclingApp.delete_subscriber.imsi">Imsi</span></dt>
                <dd>
                    <span>{{delete_subscriber.imsi}}</span>
                </dd>
                <dt><span jhiTranslate="recyclingApp.delete_subscriber.platform">Platform</span></dt>
                <dd>
                    <span>{{delete_subscriber.platform}}</span>
                </dd>
                <dt><span jhiTranslate="recyclingApp.delete_subscriber.comments">Comments</span></dt>
                <dd>
                    <span>{{delete_subscriber.comments}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delete-subscriber', delete_subscriber.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
